[Unit]
Description=Audio OLED Display
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /root/pi3/oled/oled.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
